:root {
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 4%;
    --nav-item-display: inline-block;
    --nav-item-margin: 3rem 0 0 0;
    --nav-item-link-hover: var(--color-white);

    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
}

.header {
    padding: var(--header-padding);
}

.header-logo {
    position: var(--header-logo-position);
}

.header-logo a {
    display: var(--header-logo-link-display);
    position: var(--header-logo-link-position);
    top: var(--header-logo-link-top);
    left: var(--header-logo-link-left);
}

/* NAV */

.navbar-menu {
    float: right;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    position: relative;
}

/* BEFORE ELEMENT */
.nav .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 20%;
}

/* HOVER STATE */
.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
}

/* LINK HOVER COLOR */
.nav .nav-link:hover {
    color: var(--nav-item-link-hover);
}